/* Main Screen */
body{
    margin: 0px;
    height: 3000px;
   
}
/* Navbar */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    transition: background-color 2s ease;
}
/* .navbar:hover{
    background-color: #aeb28e;
} */
.logo{
    position: relative;
    right: 40px;
    bottom: 10px;
}
.llogo{
    width: 130px;
    height: 50px;
}
.button{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: relative;
    left: 300px;
    margin-right: 70px;
    display: inline;
    cursor: pointer;
    z-index: 100;
}
.button:hover{
    color: #2A3A2C;
}
.button:active{
    color: #2A3A2C;
    text-decoration: underline;
}
.dropdown{
    position: relative;
    z-index: 100;
    display: inline-block;
}
.dropdown_menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 240px;
    background-color: #DADDC4;
    min-width: 230px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 0.5px #2A3A2C solid;
    border-radius: 10px;
    z-index: 100;
}
.down{
    display: block;
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px;
    color: #2A3A2C;
    font-weight: 600;
    padding: 10px;
    border-bottom: 0.5px #2A3A2C solid;
    z-index: 100;
}
.dropdown:hover .dropdown_menu{
    display: block;
}
.dropdown_menu a:hover{
    background-color: #425c46;
    color: white;
    
}
.firstt{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  .third{
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
  }
.green{
    background-color: #2A3A2C;
    border-radius: 40px;
    width: 140px;
    height: 50px;
    position: relative; bottom: 8px; left: 50px;
    transition: background-color .5s ease;
}
.green:hover{
    background-color: orangered;
}
.green:active{
    background-color: #425c46;
}
.green p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    position: relative; top: 15px;
}
.link{
    text-decoration: none;
}

/* Quote screen */
.bg-pic{
    width: 100%;
    height: 850px;
}
.sub-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #2A3A2C;
    font-weight: 600;
    font-size: 22px;
    z-index: 5;
    position: absolute;
    bottom:520px;;
    left: 520px;
    z-index: 5;
}

.title{
    font-family: 'Playfair Display', sans-serif;
    color: #2A3A2C;
    font-size: 80px;
    text-align: center;
    position: absolute;
    bottom: 360px;
    left: 680px;
}
.scroll{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    position: relative; bottom: 110px; 
    text-align: center;
}

/* ABOUT AFRICA */
.about{
    margin: 0px;
    background-color: #F1EFEC;
    position: relative;
    bottom: 85px;
    width: 100%;
    height: 870px;
    display: flex;
    flex: 1;
}
.box1{
    flex: 40%;
    position: relative;left: 90px;
    top: 40px;
}
.box2{
    flex: 60%;
    text-align: center; top: 40px;
}
.what{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    text-align: left;
    position: relative;
    top: 40px; 
}
.why{
    font-family: 'Playfair Display', sans-serif;
    color: black;
    font-size: 42px;
    text-align: left;
    position: relative;
    top: 5px;
    font-weight: 600;
}
.about-text{
 color: black;
 font-family: 'Montserrat', sans-serif;
 font-size: 19px;
 position: relative;
 text-align: left;
 width: 80%;
 line-height: 1.4;
}
.elephant{
     width: 350px;
     height: 450px;
     position: relative;
     left: 30px;
     top: 70px;
     z-index: 1;
    
}
.desert{
    width: 320px;
    height: 420px;
    position: relative;
    left: 0px;
    top: 270px;
    z-index: 10;
}

/* Explore Africa */

.container1{
    display: flex;
    width: 100%;
    height: 870px;
    background-color: white;
    z-index: 200;
    position: relative;
    bottom: 100px;

}
.child1{
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.botswana-pic{
    height: 660px;
    width: 780px;
    position: relative;
    left: 135px;
    bottom: 0px;
    transition: height .5s ease;
}
.botswana-pic:hover{
    height: 680px;
}
.botswana{
   color: white;
   font-weight: 600;
   z-index: 100;
   font-size: 43px;
   position: relative;
   right: 320px;
   bottom: 25px;
}


.child2{
    flex: 40%;
    margin: 10px;
    position: relative;
    top: 30px;
    left: 70px;
}
.textbox{
    height: 50%;
}
.pic-box{
    height: 50%;
}
.kenya-pic{
    height: 420px;
    width:350px;
    transition: height .5s ease;
}
.kenya-pic:hover{
    height: 430px;
}
.country-name{
   color: white;
   font-weight: 600;
   font-size: 43px;
   position: relative;bottom: 280px; left: 115px;
}





/* EXPLORE 2 */
.parent{
    background-color: white;
    width: 100%;
    height: 950px;
    position: relative; bottom: 100px;
    display: flex;
    flex-direction: column;
}
.first-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    position: relative;top: 0px;
}
.second-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;bottom: 50px;
}
.country-pic{
    height: 400px;
    width:330px;
    transition: height .5s ease;
}
.country-names{
    color: white;
    font-weight: 600;
    font-size: 40px;
    position: relative;bottom: 270px; left: 110px;
 }
 .moza{
    position: relative;left: 90px;
 }
 .uganda{
    position: relative;left: 120px;
 }
 .sey{
    position: relative; left: 80px;
 }
 .zambia{
    position: relative; left: 100px;
 }
 .tan{
    position: relative; left: 110px;
 }
 .country-pic:hover{
    height: 410px;
 }
 






/* Newsletter */
.fifth-box{
    width: 100%;
    height: 870px;
    position: relative; bottom: 100px;
    text-align: center;
}
.background-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.world{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
    position: relative;bottom: 520px;
}
.receive{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
    color: white;
    position: relative;
    bottom: 570px;
}
form{
    position: relative;
    bottom: 580px;
}
.in{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15px;
    border-radius: 40px;
    width: 230px;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
}
.first{
    position: relative;
    right: 10px;
}
.last{
    position: relative;
    left: 10px;
}
.mail{
    position: relative;top: 20px;
    left: 53px;
}
label{
    color: white;
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    position: relative; left: 80px; top: 18px; 
    opacity: 0.5;
}
#check{
    position: relative;left: 80px;top: 20px;
}
.subscribe{
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    border-radius: 40px;
    width: 130px;
    height: 50px;
    position: relative;top: 45px;
    background-color: #1b292c;
    color: white;
    border: white 1px solid;
    transition: background-color .5s ease-in-out;
}
.subscribe:hover{
   background-color: rgb(211, 205, 205);
   color: #1b292c;
   border: #1b292c 1px solid;
}

/* Footer */
.footer{
   background-color: #2A3A2C;
   width: 100%;
   height: 500px;
   position: relative; bottom: 120px;
}
.footer-container{
    width: 100%;
    height: 80%;
   display: flex;
   align-items: center;
   position: relative;
   bottom: 10px;
   left: 100px;
}
.thing{
   flex: 1;
}
.title-text{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #DADDC4;
    font-weight: 600;
}
.page-link{
    text-decoration: none;
    display: block;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}
.page-link:hover{
   color: #DADDC4;
}
.page-link:active{
    color: #DADDC4;
    text-decoration: underline;
}
.number{
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    color: white;
    position: relative; bottom: 15px;
}
.number:hover{
    color: #DADDC4;
    cursor: pointer;
}
.one{
    position: relative;
    bottom: 20px;
    left: 50px;
}
.two{
    position: relative;
    right: 130px;
}
.review{
     background-color: #DADDC4;
     color: black;
     border-radius: 10px;
     border: 1px black solid;
     height: 50px;
     width: 160px;
     font-size: 22px;
     position: relative;
     bottom: 40px;
     transition: opacity .5s ease;
}
.review:hover{
    opacity: 0.6;
    cursor: pointer;
}
.social{
     display: flex;
}
.icon-pic{
     height: 30px;
     width: 30px;
     margin-right: 15px;
     position: relative;left: 12px;
}
.icon-pic:hover{
    background-color: #DADDC4;
    border-radius: 20%;
}
.copyright{
    height: 22px;
    width: 22px;
    position: relative; top: 62px;
    left: 620px;
}
.rights{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;top: 25px; left: 650px;
}









/* RESPONSIVE */



@media only screen and (max-width:600px){
    /* Main Screen */
body{
    margin: 0px;
    height: 2800px;
}
/* Navbar */
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    transition: background-color 2s ease;
}
.logo{
    position: relative;
    right: 0px;
    bottom: 10px;
}
.llogo{
    width: 110px;
    height: 42px;
}
.button{
    font-size: 12px;
    position: relative;
    left: 25px;
    bottom: 5px;
    margin-right: 20px;
}
.dropdown_menu{
    left: 7px;
    background-color: #DADDC4;
    min-width: 130px;
}
.green{
    border-radius: 50px;
    width: 100px;
    height: 40px;
    position: relative;
    bottom: 11px; 
    left: 7px;
}
.green p{
    font-size: 13px;
    position: relative; top: 12px;
}
/* Quote screen */
.bg-pic{
    width: 100%;
    height: 850px;
    object-fit: cover;
}
.sub-title{
    font-size: 17px;
    position: absolute;
    bottom: 510px;;
    left: 50px;
}
.title{
     font-size: 56px;
     text-align: center;
     position: absolute;
     bottom: 390px;
     left: 190px;
}

/* ABOUT AFRICA */
.about{
    height: 1200px;
    display: flex;
    flex-direction: column-reverse;
}
.box1{
    flex: 60%;
}
.box2{
    flex: 40%;
    text-align: center;
    position: relative; top: 20px; left: -20px;
}
.what{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    top: 40px; 
    right: 40px;
}
.why{
    font-size: 38px;
    position: relative;
    top: 5px;
    right: 40px;
}
.about-text{
 font-size: 17px;
 position: relative;
 width: 80%;
 right: 40px;
}
.elephant{
     width: 260px;
     height: 360px;
     position: relative;
     left: 50px;
     top: 30px;
     z-index: 1;
    
}
.desert{
    width: 200px;
    height: 280px;
    position: relative;
    left: -10px;
    top: 150px;
}

/* Explore Africa */

.container1{
    display: flex;
    flex-direction: column-reverse;
    height: 1000px;
    bottom: 100px;
}
.child1{
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 90px;
    bottom: 0px;
}
.botswana-pic{
    height: 370px;
    width: 300px;
    position: relative;
    left: 0px;
    bottom: 0px;
    transition: height .5s ease;
    object-fit: cover;
}
.botswana-pic:hover{
    height: 380px;
}
.botswana{
   font-size: 43px;
   position: relative;
   right: 240px;
   bottom: 20px;
}
.child2{
    flex: 100%;
    margin: 10px;
    position: relative;
    top: 130px;
    left: 83px;
}
.kenya-pic{
    height: 370px;
    width:300px;
    transition: height .5s ease;
    object-fit: cover;
}
.kenya-pic:hover{
    height: 380px;
}
.country-name{
   font-size: 43px;
   position: relative;
   bottom: 270px; 
   left: 90px;
}

/* EXPLORE 2 */
.parent{
    height: 2400px;
    position: relative; bottom: 100px;
    display: flex;
    flex-direction: column;
}
.first-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    position: relative;top: 20px; left: 93px;
}
.second-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;bottom: 00px;
    position: relative;top: -310px; left: 93px;
}
.thai{
    position: relative;bottom: 110px;
}
.india{
    position: relative; bottom: 220px;
}
.vietnam{
    position: relative; bottom: 110px;
}
.jordan{
    position: relative; bottom: 220px;
}
.country-pic{
    height: 370px;
    width:300px;
    object-fit: cover;
    transition: height .5s ease;
}
.country-names{
    color: white;
    font-weight: 600;
    font-size: 40px;
    position: relative;bottom: 270px; left: 90px;
 }
 .mor{
    position: relative; 
    left: 70px;
 }
 .moza{
    position: relative;left: 70px;
}
 .uganda{
    position: relative;left: 90px;
 }
 .sey{
    position: relative; left: 70px;
 }
 .zambia{
    position: relative; left: 100px;
 }
 .tan{
    position: relative; left: 75px;
 }
 .country-pic:hover{
    height: 380px;
 }

/* Newsletter */
.fifth-box{
    width: 100%;
    height: 830px;
    position: relative; 
    bottom: 100px;
    text-align: center;
}
.world{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: white;
    position: relative;bottom: 560px;
}
.receive{
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 600px;
}
form{
    position: relative;
    bottom: 680px;
}
.in{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15px;
    border-radius: 40px;
    width: 250px;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
}
.first{
    position: relative;
    right: 0px;
    top: 70px;

}
.last{
    position: relative;
    left: 0px;
    top: 80px;
}
.mail{
    position: relative;top: 90px;
    left: 0px;

}
.label1{
    color: white;
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    position: relative; left: -185px; top: 87px; 
    opacity: 0.5;
    display: none;
}

#check{
    position: relative;left: -185px;top: 90px;
    display: none;
}
.subscribe{
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    border-radius: 40px;
    width: 130px;
    height: 50px;
    position: relative;top: 130px;
    background-color: #1b292c;
    color: white;
    border: white 1px solid;
    transition: background-color .5s ease-in-out;
}
.subscribe:hover{
   background-color: rgb(211, 205, 205);
   color: #1b292c;
   border: #1b292c 1px solid;
}

/* Footer */
.footer{
   background-color: #2A3A2C;
   width: 100%;
   height: 750px;
   position: relative; bottom: 100px;
}
.footer-container{
    width: 100%;
    height: 80%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
   bottom: -50px;
   left: 20px;
}
.thing{
   flex: 1;
   margin-top: 30px;
}
.title-text{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #DADDC4;
    font-weight: 600;
}
.page-link{
    text-decoration: none;
    display: block;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}
.number{
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    color: white;
    position: relative; bottom: 15px;
}
.number:hover{
    color: #DADDC4;
    cursor: pointer;
}
.one{
    position: relative;
    bottom: 20px;
    left: 50px;
}
.two{
    position: relative;
    right: -50px;
}
.review{
     position: relative;
     bottom: 0px; left: 40px;
     transition: opacity .5s ease;
}
.review:hover{
    opacity: 0.6;
    cursor: pointer;
}
.social{
     display: flex;
}
.icon-pic{
     margin-right: 15px;
     position: relative;left: 230px; bottom: 40px;
}
.copyright{
    height: 22px;
    width: 22px;
    position: relative; top: 106px;
    left: 92px;
}
.rights{
    position: relative;
    top: 70px; 
    left: 120px;
}
}